@import '../typography/typography.module';

.label {
  @include typography(var(--font-size-m), var(--line-height-m));

  display: block;
  color: var(--color-dark-100);
}

.input {
  @include typography(var(--font-size-m), var(--line-height-m));

  cursor: text;

  width: 100%;
  padding: 0.375rem 0.75rem;

  color: var(--color-light-100);

  background: inherit;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;

  &::placeholder {
    color: var(--color-dark-100);
    opacity: 1;
  }

  &:disabled::placeholder {
    color: var(--color-dark-300);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);
  }

  &:hover:not(:focus, :disabled) {
    background-color: var(--color-dark-700);
  }
}

.notEmpty {
  border-color: var(--color-light-100);
}

.errorMessage {
  @include typography(var(--font-size-xs), var(--line-height-m));

  position: absolute;
}

.wrapper {
  position: relative;

  .rightIcon {
    position: absolute;
    top: 0;
    right: 0.75rem;

    display: flex;
    align-items: center;

    height: 100%;
  }

  .error {
    color: var(--color-danger-300);
    border-color: var(--color-danger-300);
  }
}
