@import '../typography/typography.module';

.label {
  @include typography(var(--font-size-m), var(--line-height-m));

  display: block;
  color: var(--color-dark-100);
}

.leftIcon {
  cursor: text;

  position: absolute;
  top: 0;
  left: 0.75rem;

  display: flex;
  align-items: center;

  height: 100%;
}

.rightIcon {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0.75rem;

  display: flex;
  align-items: center;

  height: 100%;
}

.input {
  @include typography(var(--font-size-m), var(--line-height-m));

  cursor: text;

  width: 100%;
  padding: 0.375rem 0.75rem;

  color: var(--color-light-100);

  background: inherit;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;
}

.isLeft {
  .input {
    padding-left: 2.5625rem;
  }
}

.isRight {
  .input {
    padding-right: 2.5625rem;
  }
}

.wrapper {
  position: relative;
  color: var(--color-dark-100);
  border-color: var(--color-dark-100);

  &:focus-within {
    color: var(--color-light-100);
  }

  &:not(:focus-within) {
    .rightIcon,
    .leftIcon {
      color: var(--color-dark-100);
    }
  }

  .input {
    &::placeholder {
      color: var(--color-dark-100);
      opacity: 1;
    }

    &:disabled::placeholder {
      color: var(--color-dark-300);
    }

    &:focus {
      border-color: var(--color-light-100);
    }

    &:disabled {
      pointer-events: none;
      color: var(--color-dark-300);
      border-color: var(--color-dark-300);

      ~ .leftIcon,
      ~ .rightIcon {
        color: var(--color-dark-300);
      }
    }

    &:disabled:not(:placeholder-shown) {
      ~ .leftIcon,
      ~ .rightIcon {
        color: var(--color-dark-300);
      }
    }

    &:hover:not(:focus, :disabled) {
      background-color: var(--color-dark-700);
    }
  }
}

.error,
.error:focus-within {
  color: var(--color-danger-300);

  &:not(:focus-within) {
    .rightIcon,
    .leftIcon {
      color: var(--color-danger-700);
    }

    .input:not(:placeholder-shown) ~ .rightIcon,
    .input:not(:placeholder-shown) ~ .leftIcon {
      color: var(--color-danger-300);
    }
  }

  .input.error {
    border-color: var(--color-danger-300);

    &::placeholder {
      color: var(--color-danger-700);
    }

    &:not(:placeholder-shown) {
      color: var(--color-danger-300);
    }

    &:disabled {
      pointer-events: none;
      color: var(--color-danger-900);
      border-color: var(--color-danger-900);

      ~ .leftIcon,
      ~ .rightIcon,
      ~ .errorMessage {
        color: var(--color-danger-900);
      }
    }

    &:disabled::placeholder {
      color: var(--color-danger-900);
    }

    &:disabled:not(:placeholder-shown) {
      ~ .leftIcon,
      ~ .rightIcon,
      ~ .errorMessage {
        color: var(--color-danger-900);
      }
    }
  }

  .errorMessage {
    @include typography(var(--font-size-xs), var(--line-height-m));

    position: absolute;
    color: inherit;
  }
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}
